body {
  padding: 0;
  margin: 0;
  font: 1em "Roboto", sans-serif; }

figure {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  font-family: "Roboto Slab", serif; }

header {
  text-align: center; }
